###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
# Ignore Symfony cache & logs explicitly
/var/cache/
 /var/log/
/vendor/
###< symfony/framework-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> Docker Files (if using Docker) ###
/docker-compose.override.yml
/.docker/
###< Docker Files ###

###> Ignore Database Files (SQLite, SQL Dumps) ###
/data/
/database.sqlite
*.sql
###< Database Files ###

###> Ignore Node.js Files (If Frontend Exists in This Repo) ###
/node_modules/
/dist/
###< Node.js ###
